@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;500;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Raleway", "Sans serif";
    width: 100%;
    margin-top: 2%;
    min-width: 375px;
}

/* Styles et couleurs */

.text-light {
    font-weight: 300;
    font-size: .9em;
}

.text-gras {
    font-weight: 700;
    font-size: 1.1em;
}

h1 {
    font-size: 1.2em;
}

footer p {
    margin-top: 1em;
    margin-bottom: 1em;
}

.marginText {
    margin-top: 1em;
    margin-bottom: 1em;
}

.margin-titre {
    margin-top: .5em;
    margin-bottom: 1.5em; 
}

.marginBloc {
    margin-top: 2em;
    margin-bottom: 2em;
}

.decoration-none {
    text-decoration: none;
}

.border-none {
    border: none;
}

.color-bleu {
    color: #0065fc;
}

.color-bleu-clair {
    color: #deebff;
}

.color-gris {
    color: #f2f2f2;
}

.color-black {
    color: #00122c;
}

.back-bleu {
    background-color: #0065fc;
}

.back-bleu-clair {
    background-color: #deebff;
}

.back-gris {
    background-color: #f2f2f2;
}

/* Mise en page flexbox */

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-around {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-center-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-around-column {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.flex-between-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
}

.row {
    display: flex;
    flex-direction: row;
}

/* NAV */

header {
    padding-bottom: 1em;
}

.nav {
    order: 2;
    width: 100%;
    justify-content: space-around;
    text-align: center;
    margin-top: 10px;
    padding-bottom: 10px;
}

.nav a {
    display: block;
}

.nav a:hover {
    width: 50%;
    padding-top: 0px;
    margin-top: 0px;
    color: #0065fc;
}

.logo-nav {
    margin-left: 10px;
    border: 2px solid black;
}

.conteneur-logo {
    width: auto;
    padding-left: 1.5em;
}

.signin {
    order: 1;
    padding-right: 1.5em;
    font-weight: bold;
}

.item-lien {
    width: 100%;
    border-bottom: 2px solid #f2f2f2;
    padding-bottom: 10px;
}

.item-lien:hover {
    width: 100%;
    border-bottom: 2px solid #0065fc;
    padding-bottom: 10px;
}

/* barre de recherche */

.description {
    padding: 1em 1.5em 0 1.5em;
}

.description > p {
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 300;
}


.description > h1 {
    font-size: 1.4em;
    letter-spacing: normal;
}

.search-bar {
    width: 20.5em;
    height: auto;
    margin: 1em 1.5em;
    border: 1px solid #f2f2f2;
    border-radius: 1em;
}

.size-icon {
    width: 15%;
    height: 3em;
    border-radius: 10px 0 0 10px;
}

.input-search {
    height: auto;
    font-size: 18px;
    color: black;
    font-weight: bold;
}

.border-search {
    display: block;
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
}

.button-search {
    width: 15%;
    height: 3em;
    border: 1px solid blue;
    color: white;
    cursor: pointer;
    border-radius: 1em;
}

/* Filtres */

.filters {
    height: auto;
    margin: 1em 1.5em;
}

.title-filters {
    width: 100%;
    padding-bottom: 1em;
}

.card-filters {
    border: 2px solid #d9d9d9;
    height: 3em;
    border-radius: 30px;
    margin-bottom: 10px;
    cursor: pointer;
}

.text-filters {
    height: 3em;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 0 25px 25px 0;
}

.card-filters:hover > .text-filters {
    color: #0065fc;
}

.card-filters:hover > .icon-filters {
    color: white;
    background-color: #0065fc;
}

.icon-filters {
    margin-left: -2px;
    border-radius: 25px;
    width: 3em;
    height: 3em;
    color: #0065fc;
    background-color: #deebff;
}

/* Info bulle */

.info-bulle {
    display: flex;
    padding-left: 1.5em;
    font-weight: 300;
}

.icon-info-bulle {
    width: 1.5em;
    height: 1.5em;
    border: 2px solid #f2f2f2;
    border-radius: 25px;
}

.text-info-bulle {
    margin-left: 10px;
}

/* Catégorie populaires */

.bloc-pop {
    height: auto;
    width: 100%;
    padding: 1.5em;
    justify-content: space-around;
    background-color: #f2f2f2;
}

.card-pop {
    display: flex;
    width: 20.5em;
    height: 9em;
    background-color: white;
    margin-bottom: 1em;
    padding: .3em;
    border-radius: 20px;
    box-shadow: 1px 1px 10px rgb(211, 211, 211);
}

.card-pop > p {
    margin: 10px 0;
}

.img-pop {
    object-fit: cover;
	width: 40%;
    height: 100%;
    border-radius: 15px 0 0 15px;
    margin-right: 1em;
}

.card-details-pop {
    width: 100%;
    padding-right: 1em;
}

.card-details-pop > p {
    margin: 10px 0;
}

/* Catégorie hébergements */

.bloc-heb {
    width: 100%;
    padding: 1.5em;
    flex: 2;
    justify-content: space-around;
    background-color: white;
    border-radius: 25px;
    border: 1px solid black;
}

.bloc-card-heb {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.card-heb {
    width: 20.5em;
    height: 12em;
    background-color: white;
    margin-bottom: 1em;
    padding: .3em;
    border-radius: 20px;
    box-shadow: 1px 1px 10px rgb(211, 211, 211);
}

.img-heb {
    object-fit: cover;
    height: 60%;
    width: 100%;
    border-radius: 15px 15px 0 0;
}

.card-details-heb {
    margin-left: 10px;
}

/* Catégorie activités */

.bloc-act {
    width: 100%;
    padding: 1.5em;
    justify-content: space-around;
    background-color: white;
    border-radius: 25px;
    border: 1px solid black;
}

.bloc-card-act {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;   
}

.card-act {
    width: 20.5em;
    height: 12em;
    background-color: white;
    border-radius: 20px;
    box-shadow: 1px 1px 10px rgb(211, 211, 211);
}

.column-act {
    justify-content: space-around;
}

.img-act {
    width: 100%;
    height: 65%;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}

.card-details-act {
    margin-left: 1em;
    margin-top: 1em;
}

/* version tablette */

@media screen and (min-width: 600px) {
    .container {
        padding-left: 2%;
        padding-right: 2%;
    }
    .nav {
        order: 0;
        width: auto;
        margin-left: auto;
    }
    .signin {
        order: 1;
        margin-left: 1em;
    }
    .item-lien {
        border-bottom: none;
        padding-bottom: 0;
        margin-right: 10%;
    }
    .item-lien:hover {
        width: 100%;
        border-top: 2px solid #0065fc;
        border-bottom: 0;
        padding-top: 10px;
    }
    .conteneur-logo {
        width: auto;
    }
    .filters {
        align-items: center;
    }
    .title-filters {
        width: auto;
    }
    .bloc-heb-pop {
        display: flex;
        flex-wrap: wrap;
    }
    .bloc-pop {
        width: 375px;
        border-radius: 25px;
        order: 1;
    }
    .bloc-heb {
        border: 1px solid red;
        background-color: #f2f2f2;
    }
    .card-heb {
        width: 15em;
    }
    .bloc-act-main {
        display: flex;
        flex-wrap: wrap;
    }
}
@media screen and (min-width: 780px) {
    .column-act {
        display: flex;
        height: 450px;
        width: 50%;
        flex-flow: column wrap;
        justify-content: space-between;
    }
    .cardAct {
        width: 16em;
        height: 100%;
        border-radius: 20px;
        box-shadow: 1px 1px 10px rgb(211, 211, 211);
    }
    .cardAct > img {
        height: 85%;
    }
    .cardAct2 {
        width: 16em;
        height: 50%;
        border-radius: 20px;
        box-shadow: 1px 1px 10px rgb(211, 211, 211);
    }
    .cardAct2 > img {
        height: 75%;
    }
    .cardAct3 {
        width: 16em;
        height: 40%;
        border-radius: 20px;
        box-shadow: 1px 1px 10px rgb(211, 211, 211);
    }
}
@media screen and (min-width: 1000px) {
    .filters {
        max-width: 900px;
    }
    .column-act {
        display: flex;
        height: 450px;
        width: 50%;
        flex-flow: column wrap;
    }
    .sizeActivites {
        flex: 1;
        margin-bottom: 10px;
        padding-top: 2px;
    }
    .marginAct {
        margin: 0.5em;
    }
    .containerAct {
        width: 100%;
    }
    .blocAct {
        display: flex;
        flex-flow: column wrap;
        width: 100%;
        height: 450px;
    }
    .cardAct {
        width: 16em;
        height: 100%;
        border-radius: 20px;
        box-shadow: 1px 1px 10px rgb(211, 211, 211);
    }
    .cardAct > img {
        height: 85%;
    }
    .cardAct2 {
        width: 16em;
        height: 50%;
        border-radius: 20px;
        box-shadow: 1px 1px 10px rgb(211, 211, 211);
    }
    .cardAct2 > img {
        height: 75%;
    }
    .cardAct3 {
        width: 16em;
        height: 40%;
        border-radius: 20px;
        box-shadow: 1px 1px 10px rgb(211, 211, 211);
    }
}