/* GENERAL */

* {
    margin: 0;
    padding: 0;
}

p {
    margin: 5px 0 5px 0;
}

html, body {
    font-family: 'Raleway', sans-serif;
}

.blocPage {
    width: auto;
    margin-left: 3em;
    margin-right: 3em;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-around {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-center-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-around-column {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.flex-between-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.flex-row {
    display: flex;
    flex-flow: row wrap;
}

/* STYLES ET COULEURS ------------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;500&display=swap');

.texteLight {
    font-weight: 100;
    font-size: .8em;
}

.texteGras {
    font-weight: 500;
    font-size: .9em;
}

h1 {
    font-size: 1.2em;
}

footer p {
    margin-top: 1em;
    margin-bottom: 1em;
}

.marginText {
    margin-top: 1em;
    margin-bottom: 1em;
}

.marginBloc {
    margin-top: 2em;
    margin-bottom: 2em;
}

.borderNone {
    border: none;
}

.texteGras {
    font-weight: bold;
}

.colorBleu {
    color: #0065fc;
}

.colorBleuClair {
    color: #deebff;
}

.colorGris {
    color: #f2f2f2;
}

.backBleu {
    background-color: #0065fc;
}

.backBleuClair {
    background-color: #deebff;
}

.backGris {
    background-color: #f2f2f2;
}
/* NAVIGATION -------------------------------------- NAVIGATION*/

.sizeNav {
    height: 100px;
}

.sizeLiens {
    width: 45%;
}

.sizeLien {
    width: 140px;
    height: 99px;
}

.decorationNone {
    text-decoration: none;
}

.colorLien2 {
    color: black;
}

.bordureNav {
    border-top: 1px solid blue;
}

.bordureNav23 {
    border-top: 1px solid transparent;
}

.margin-logo {
    margin-bottom: 7px;
}

/* HEADER ------------------------------------------ HEADER */

.borderSearch {
    justify-content: space-between;
    width: 23.2em;
    border-radius: 10px;
    border: 0.5px solid #f2f2f2;
}

.paddingSearch {
    padding-left: 5px;
}

.buttonSearch {
    height: 2.8em;
    width: 7.5em;
    color: white;
    cursor: pointer;
    border-radius: 0 13px 13px 0;
}

.recherche {
    height: 2.8em;
    width: 11.5em;
    font-size: 1em;
    color: black;
    font-weight: bold;
}

.iconSize {
    height: auto;
    width: 2.9em;
    border-radius: 10px 0 0 10px;
}

/* FILTRES -------------------------------------------- FILTRES*/

.marginFiltre {
    margin-top: 50px;
    margin-bottom: 40px;
}

.marginFiltreTitre {
    margin-right: 20px;
}

.filtre {
    display: flex;
    align-items: center;
}

.filtreTexteIcons {
    border: 2px solid #f2f2f2;
    height: 50px;
    border-radius: 30px;
    margin-right: 20px;
    cursor: pointer;
}

.filtreTexte {
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 0 25px 25px 0;
}

.filtreTexteIcons:hover > .filtreTexte {
    color: #0065fc;
}

.filtreTexteIcons:hover > .filtreIcons {
    color: white;
    background-color: #0065fc;
}

.filtreIcons {
    margin-left: -2px;
    border-radius: 25px;
    width: 52px;
    height: 52px;
    color: #0065fc;
    background-color: #deebff;
}

/* INFO ICONE ------------------------------------------- ICONE */

.info {
    display: flex;
    align-items: center;
}

.blocIcon {
    width: 20px;
    height: 20px;
    border: 2px solid #f2f2f2;
    border-radius: 25px;
    margin-right: 5px;
}

/* HEBERGEMENTS ----------------------------------------- HEBERGEMENT*/

.sizeHeb {
    flex: 2.3;
    justify-content: space-between;
    margin-right: 20px;
    border-radius: 10px;
}

.blocHebergements {
    padding-left: 20px;
    padding-right: 20px;
}

.cardHeb {
    width: 28%;
    height: 10.5em;
    background-color: white;
    padding: .3em;
    border-radius: 20px;
    box-shadow: 1px 1px 10px rgb(211, 211, 211);
}

.imgHeb {
    object-fit: cover;
    height: 60%;
    width: 100%;
    border-radius: 15px 15px 0 0;
}

.bloc1 {
    justify-content: space-around;
}

.bloc2 {
    margin-top: 10px;
}

.cardDetailHeb {
    margin-left: 10px;
}

/* POPULAIRE ------------------------------------------ POPULAIRE */

.sizePop {
    flex: 1;
    justify-content: space-between;
    margin-left: 20px;
    border-radius: 10px;
}

.blocPop {
    padding-left: 20px;
    padding-right: 20px;
}

.cardPop {
    width: 100%;
    height: 7em;
    background-color: white;
    margin-bottom: 2em;
    padding: 1% 0 1% 1%;
    border-radius: 20px;
    box-shadow: 1px 1px 10px rgb(211, 211, 211);
}

.imgPop {
    object-fit: cover;
	width: 35%;
    height: 100%;
    border-radius: 20px 0 0 20px;
    margin-right: 1em;
}

.cardDetailPop {
    width: 100%;
    padding-left: 1em;
}

/* ACTIVITE ------------------------------------------ ACTIVITE*/

.sizeActivites {
    flex: 1;
    margin-bottom: 10px;
    padding-top: 2px;
}

.cardDetailAct {
    width: 90%;
}

.marginAct {
    margin: 0.5em;
}

.containerAct {
    width: 100%;
}

.blocAct {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    height: 450px;
}

.colonneAct {
    width: 22.5%;
    height: 100%;
    margin-left: 20px;
    margin-right: 20px;
}

.colonneAct2 {
    width: 22.5%;
    height: 100%;
    margin-left: 20px;
}

.cardAct {
    width: 22.5%;
    height: 100%;
    margin-right: 20px;
    border-radius: 20px;
    box-shadow: 1px 1px 10px rgb(211, 211, 211);
}

.cardAct2 {
    width: 100%;
    height: 58%;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: 1px 1px 10px rgb(211, 211, 211);
}
.cardAct3 {
    width: 100%;
    height: 40%;
    margin-top: 20px;
    border-radius: 20px;
    box-shadow: 1px 1px 10px rgb(211, 211, 211);
}
.cardAct4 {
    width: 22.5%;
    height: 100%;
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 20px;
    box-shadow: 1px 1px 10px rgb(211, 211, 211);
}
.cardAct5 {
    width: 100%;
    height: 47%;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: 1px 1px 10px rgb(211, 211, 211);
}
.cardAct6 {
    width: 100%;
    height: 53%;
    margin-top: 20px;
    border-radius: 20px;
    box-shadow: 1px 1px 10px rgb(211, 211, 211);
}

/* FOOTER -------------------------------------------- FOOTER */

.blocFooter {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}

.cardFooter {
    width: 15em;
    margin: 2em 5em 2em 3em;
}

/* IMAGES / ACT */

.imgActivites1 {
    background-image: url(./Projet2-Reservia/images/activites/4_small/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    border-radius: 15px 15px 0 0;
}
.imgActivites2 {
    background-image: url(./Projet2-Reservia/images/activites/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    border-radius: 15px 15px 0 0;
}
.imgActivites3 {
    background-image: url(./Projet2-Reservia/images/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    border-radius: 15px 15px 0 0;
}
.imgActivites4 {
    background-image: url(./Projet2-Reservia/images/activites/4_small/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    border-radius: 15px 15px 0 0;
}
.imgActivites5 {
    background-image: url(./Projet2-Reservia/images/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    border-radius: 15px 15px 0 0;
}
.imgActivites6 {
    background-image: url(./Projet2-Reservia/images/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    border-radius: 15px 15px 0 0;
}

/* RESPONSIVE ------------------------------------ RESPONSIVE */

@media screen and (max-width: 500px) {
    .flex-around-column {   
      flex-direction: column;
      justify-content: space-around;
    }

    .flex-around-column {
        min-width: 250px;
    }

    .cardHeb {
        width: 100%;
    }

    .main-header .nav-container {
        justify-content: space-between;
    }
  } 